<div class="card-body">

    <form id="current-car" method="post" action="{{ path('app_odometer_change_car') }}">
        <input type="hidden" name="_token" value="{{ csrf_token('select-current') }}">
        <select class="form-select" name="car-select">
            <option value="{{ user_car.id }}" selected>{{ user_car.description }}</option>
            {% for car in cars %}
                {% if car.id != user_car.id %}
                    <option value="{{ car.id }}">{{ car.description }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </form>

    <h4 class="mt-3 text-center">Dodawanie stanu licznika</h4>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit"><i class="bi bi-plus-circle"></i> Dodaj stan licznika</button>
    {{ form_end(form) }}

</div>
