<div class="card-body table-responsive">
    <h4 class="text-center">Liczniki</h4>
    <table class="table">
        <thead>
            <tr>
                <th>data</th>
                <th>stan [km]</th>
                <th>paliwo [l]</th>
                <th>cena [zł]</th>
                <th>zapłacono [zł]</th>
                <th>przejechano [km]</th>
                <th>spalanie [l/100km]</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for odometer in odometers %}
                <tr>
                    <td>{{ odometer.date.format("d.m.Y") }}</td>
                    <td>{{ odometer.value|number_format(0, ",", "&nbsp;")|raw }}</td>
                    <td>{{ odometer.fuel|number_format(2, ",", "&nbsp;")|raw }}</td>
                    <td>{{ odometer.price|number_format(2, ",", "&nbsp;")|raw }}</td>
                    <td>{{ odometer.calculatePaid|number_format(2, ",", "&nbsp;")|raw }}</td>
                    <td>{{ odometer.traveled|number_format(0, ",", "&nbsp;")|raw }}</td>
                    {% if odometer.consumption is null %}
                        <td>---</td>
                    {% else %}
                        <td>{{ odometer.consumption|number_format(2, ",", "&nbsp;")|raw }}</td>
                    {% endif %}
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
