{% extends 'base.html.twig' %}

{% block title %}Liczniki{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/odometer.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/odometer.js') }}" defer></script>
{% endblock %}

{% block body %}

<div class="container">
 
    {% if user_car is null %}
        <div class="container mt-3">Brak samochodów. Dodaj swój pierwszy <a href="{{ path('app_car_index') }}">samochód</a>.</div>
    {% else %}
        <div class="container odometer-container">
            <div class="form-card-100-percent mt-3 card ms-0 me-0 ms-md-auto">
                {{ include('odometer/_add.html.twig') }}
            </div>
            <div class="formCard100percent mt-3 card ps-md-3 ms-md-3">
                {{ include('odometer/_reading.html.twig') }}
            </div>
        </div>
    {% endif %}

</div>

{% endblock %}
