{% extends 'base.html.twig' %}

{% block title %}Liczniki{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/odometer.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/odometer.js') }}" defer></script>
{% endblock %}

{% block body %}

    {{ include('odometer/_delete_confirmation_modal.html.twig') }}
    {% if user_car is null %}
        <div class="container mt-3">Brak samochodów. Dodaj swój pierwszy <a href="{{ path('app_car_index') }}">samochód</a>.</div>
    {% else %}
        <div class="container-fluid odometer-container ps-0 pe-0 ps-md-3 pe-md-3">
            <div class="form-card-100-percent mt-3 card">
                {{ include('odometer/_add.html.twig') }}
            </div>
            <div class="form-card-100-percent mt-3 card">
                {{ include('odometer/_reading.html.twig') }}
            </div>
        </div>
    {% endif %}

{% endblock %}
