<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{% block favicon %}{{ asset('assets/gfx/favicon.png') }}{% endblock %}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-icons.min.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{ asset('assets/js/jquery3.6.3.js') }}" defer></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}" defer></script>
            <script src="{{ asset('assets/js/main.js') }}" defer></script>
        {% endblock %}
    </head>
    <body>
        <div class="notifications position-fixed">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }} alert alert-success alert-dismissible fade show" role="alert">
                      {{ message }}
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        {% block menu %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} 
                {{ include('user_menu.html.twig') }}
            {% else %} 
                {{ include('guest_menu.html.twig') }}
            {% endif %}            
        {% endblock %}

        {% block body %}{% endblock %}
    </body>
</html>
